@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<!DOCTYPE html>
<html>
    <head>
    <title>ViewData["Title"]</title>
        <style>
            body{
            background-image: url("/image/download.jpeg");
            background-size:cover;
            background-position:center;
            }
        </style>
    </head>
</html>